n8n-workflows/Bulk email.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "8bbd3b07-3687-48bf-8904-c2082534689d",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "getAll",
        "simple": false,
        "filters": {
          "receivedAfter": "={{ $json.lastRun }}"
        },
        "options": {
          "downloadAttachments": true
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        432,
        0
      ],
      "id": "533b0671-c947-40d4-b9f4-1e88be74a637",
      "name": "Get many messages",
      "webhookId": "b378a0ad-2364-4fb8-bdbe-320a6789eb50",
      "credentials": {
        "gmailOAuth2": {
          "id": "V03vOlmxkDMD0Ler",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const now = new Date(Date.parse($input.first().json.timestamp));\n\nconst lastRun = new Date(now);\nlastRun.setMinutes(lastRun.getMinutes()-15);\n\nreturn {\n  lastRun,\n  dmsHost: 'http://host.docker.internal:3000',\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "9abe060c-3ac5-4d70-bc5a-d2ac24915757",
      "name": "Setup variables"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Add a new field called 'myNewField' to the JSON of the item\nconst attach = ($input.item.binary ?? {});\n\nreturn {\n  sub: $input.item.json.subject,\n  attach,\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        656,
        0
      ],
      "id": "794cd220-7a7b-4a6f-bac1-b7c013b2eabf",
      "name": "Handle case of no attachments"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Setup variables').item.json.dmsHost }}/api/folders",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $json.sub }}"
            },
            {
              "name": "parentId",
              "value": "69c4ca3e8ba5dce101d085f9"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        864,
        0
      ],
      "id": "51269a05-3570-46d2-9ccf-bd502a5e0843",
      "name": "Create folder for each mail",
      "credentials": {
        "httpBasicAuth": {
          "id": "NKbWzhxUUO60xBYh",
          "name": "DMS admin account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Add a new field called 'myNewField' to the JSON of the item\n$input.item.json.folderId = $json.data.id;\n$input.item.json.attach = ($('Handle case of no attachments').item.json.attach);\n\nreturn $input.item;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1072,
        0
      ],
      "id": "dc8f6434-cf15-427a-bd2d-d38d31b44a98",
      "name": "Attachment array for each folder"
    },
    {
      "parameters": {
        "jsCode": "const x = [];\n\n// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  Object.entries(item.json.attach).forEach(([key, file]) => {\n    if (file.fileExtension === 'txt') {\n      x.push({\n        folderId: item.json.folderId,\n        file,\n      })\n    }\n  });\n}\n\nreturn x;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1280,
        0
      ],
      "id": "8e117987-0e53-4cc9-a510-d41d9be865ae",
      "name": "Individual files"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Setup variables').first().json.dmsHost }}/api/files",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "file"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1696,
        0
      ],
      "id": "7c2080f7-ad19-4468-8560-1572934e6d52",
      "name": "Upload files",
      "credentials": {
        "httpBasicAuth": {
          "id": "NKbWzhxUUO60xBYh",
          "name": "DMS admin account"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $('Setup variables').first().json.dmsHost }}/api/files/{{ $json.data.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "parentId",
              "value": "={{ $('Convert back to n8n binary property').item.json.folderId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1904,
        0
      ],
      "id": "0564d161-8048-490b-9304-ca0e44644ae9",
      "name": "Move to folder",
      "credentials": {
        "httpBasicAuth": {
          "id": "NKbWzhxUUO60xBYh",
          "name": "DMS admin account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Add a new field called 'myNewField' to the JSON of the item\n$input.item.binary = Object.fromEntries([\n  ['file', $input.item.json.file]\n]);\n\nreturn $input.item;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1488,
        0
      ],
      "id": "f2652226-65d1-4fd5-8556-93fd61cfb356",
      "name": "Convert back to n8n binary property"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Setup variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many messages": {
      "main": [
        [
          {
            "node": "Handle case of no attachments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setup variables": {
      "main": [
        [
          {
            "node": "Get many messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle case of no attachments": {
      "main": [
        [
          {
            "node": "Create folder for each mail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create folder for each mail": {
      "main": [
        [
          {
            "node": "Attachment array for each folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attachment array for each folder": {
      "main": [
        [
          {
            "node": "Individual files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Individual files": {
      "main": [
        [
          {
            "node": "Convert back to n8n binary property",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload files": {
      "main": [
        [
          {
            "node": "Move to folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert back to n8n binary property": {
      "main": [
        [
          {
            "node": "Upload files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "75c33b32-e72e-4362-a9af-a884ff2e6aa1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "716fb4239b9b454a4142ac7c148b16e88dcd29eb15d5ff4ba01c6fb846b20a03"
  },
  "id": "eqjmBJPPzPafQPmS",
  "tags": []
}